<%= form_for(@woman) do |f| %>
  <% if @woman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@woman.errors.count, "error") %> prohibited this woman from being saved:</h2>

      <ul>
      <% @woman.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
